
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="testimonial-style-one-area default-padding bg-cover text-center" style="background-image: url(/Foodu v1.7/source/assets/img/shape/4.jpg);">
    <!-- Shape -->
    <div class="wavesshape">
        <img class="regular-img" src="/Foodu v1.7/source/assets/img/shape/16.png" alt="Şekil">
        <img class="dark-img" src="/Foodu v1.7/source/assets/img/shape/16-dark-secondary.png" alt="Şekil">
    </div>
    <!-- Shape -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="site-heading text-center">
                    <h4 class="sub-title">Müşteri Yorumları</h4>
                    <h2 class="title split-text">Misafirlerimiz Ne Diyor?</h2>
                </div>
                <div class="testimonial-style-one-carousel swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Single item -->
                        <div class="swiper-slide">
                            <div class="testimonial-style-one">
                                <div class="item">
                                    <div class="content">
                                        <div class="tm-review">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div class="provider">
                                            <h4>Harika Bir Deneyim</h4>
                                        </div>
                                        <p>
                                            "Yemekler gerçekten mükemmeldi. Özellikle ızgara somon harikaydı. Personel çok ilgiliydi. Kesinlikle tekrar geleceğim."
                                        </p>
                                        <div class="tm-proivder-thumb">
                                            <img src="https://images.pexels.com/photos/1437267/pexels-photo-1437267.jpeg?auto=compress&cs=tinysrgb&w=200&h=200&fit=crop" alt="Resim Bulunamadı">
                                            <img src="https://images.pexels.com/photos/762020/pexels-photo-762020.jpeg?auto=compress&cs=tinysrgb&w=200&h=200&fit=crop" alt="Resim Bulunamadı">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single item -->
                        <!-- Single item -->
                        <div class="swiper-slide">
                            <div class="testimonial-style-one">
                                <div class="item">
                                    <div class="content">
                                        <div class="tm-review">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div class="provider">
                                            <h4>Lezzet Şöleni</h4>
                                        </div>
                                        <p>
                                            "Restoranın atmosferi ve yemeklerin lezzeti muhteşem. Tatlılar inanılmaz. Herkese tavsiye ederim."
                                        </p>
                                        <div class="tm-proivder-thumb">
                                            <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=200&h=200&fit=crop" alt="Resim Bulunamadı">
                                            <img src="https://images.pexels.com/photos/315755/pexels-photo-315755.jpeg?auto=compress&cs=tinysrgb&w=200&h=200&fit=crop" alt="Resim Bulunamadı">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single item -->
                    </div>
                </div>
                <!-- Navigation -->
                <div class="testimonial-pagination">
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</div>