
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="chef-style-one-area default-padding bottom-less bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="site-heading text-center">
                    <h4 class="sub-title">Profesyonel Şefler</h4>
                    <h2 class="title split-text">Mutfak Ustalarımızla Tanışın</h2>
                    <p>Lezzetlerin arkasındaki ustalar, size unutulmaz bir deneyim yaşatmak için buradalar.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!-- Single Item -->
            <div class="col-lg-3 col-md-6 chef-one-single mb-30">
                <div class="chef-style-one-item wow fadeInUp">
                    <div class="thumb">
                        <img src="https://images.pexels.com/photos/3814446/pexels-photo-3814446.jpeg?auto=compress&cs=tinysrgb&w=600&h=600&fit=crop" alt="Baş Şef - Ahmet Yılmaz">
                        <ul class="chef-one-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <div class="info">
                        <h4><a href="#">Ahmet Yılmaz</a></h4>
                        <span>Baş Şef</span>
                    </div>
                </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="col-lg-3 col-md-6 chef-one-single mb-30">
                <div class="chef-style-one-item wow fadeInUp" data-wow-delay="200ms">
                    <div class="thumb">
                        <img src="https://images.pexels.com/photos/4057767/pexels-photo-4057767.jpeg?auto=compress&cs=tinysrgb&w=600&h=600&fit=crop" alt="Soğuk Mutfak Şefi - Zeynep Şahin">
                        <ul class="chef-one-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <div class="info">
                        <h4><a href="#">Zeynep Şahin</a></h4>
                        <span>Soğuk Mutfak Şefi</span>
                    </div>
                </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="col-lg-3 col-md-6 chef-one-single mb-30">
                <div class="chef-style-one-item wow fadeInUp" data-wow-delay="400ms">
                    <div class="thumb">
                        <img src="https://images.pexels.com/photos/4253312/pexels-photo-4253312.jpeg?auto=compress&cs=tinysrgb&w=600&h=600&fit=crop" alt="Pasta Şefi - Mehmet Kaya">
                        <ul class="chef-one-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <div class="info">
                        <h4><a href="#">Mehmet Kaya</a></h4>
                        <span>Pasta Şefi</span>
                    </div>
                </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="col-lg-3 col-md-6 chef-one-single mb-30">
                <div class="chef-style-one-item wow fadeInUp" data-wow-delay="600ms">
                    <div class="thumb">
                        <img src="https://images.pexels.com/photos/3771120/pexels-photo-3771120.jpeg?auto=compress&cs=tinysrgb&w=600&h=600&fit=crop" alt="Meze Ustası - Nisa Duran">
                        <ul class="chef-one-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <div class="info">
                        <h4><a href="#">Nisa Duran</a></h4>
                        <span>Meze Şefi</span>
                    </div>
                </div>
            </div>
            <!-- End Single Item -->
        </div>
    </div>
</div>