@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Layout.cshtml";
}

<!-- ========== _MainSliderViewComponent Başlangıcı ========== -->
<!-- Start Banner Area -->
<div class="banner-area banner-style-four navigation-circle overflow-hidden bg-theme text-light bg-cover" style="background-image: url(/assets/img/shape/1.jpg);">
    <!-- Slider main container -->
    <div class="banner-fade">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">

            <!-- Single Item -->
            <div class="swiper-slide">
                <div class="container">
                    <div class="content">
                        <div class="shape">
                            <img src="/Foodu v1.7/source/assets/img/shape/23.png" alt="Resim Bulunamadı">
                            <img src="/Foodu v1.7/source/assets/img/shape/24.png" alt="Resim Bulunamadı">
                        </div>
                        <div class="row align-center">
                            <div class="col-lg-6">
                                <h4>Bugün satın al, sadece <strong>$65</strong></h4>
                                <h2>Özel Fırsat Peynirli Burger</h2>
                                <p>
                                    En taze malzemelerle hazırlanan özel burgerimiz, eşsiz lezzetiyle sizleri bekliyor. Hemen sipariş verin, fırsatı kaçırmayın.
                                </p>
                                <div class="button mt-40">
                                    <a class="btn btn-theme btn-md animation" href="shop.html">Şimdi Sipariş Ver</a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="thumb">
                                    <img src="/Foodu v1.7/source/assets/img/illustration/3.png" alt="Resim Bulunamadı">
                                    <img src="/Foodu v1.7/source/assets/img/shape/22.png" alt="Resim Bulunamadı">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="swiper-slide">
                <div class="container">
                    <div class="content">
                        <div class="shape">
                            <img src="/Foodu v1.7/source/assets/img/shape/23.png" alt="Resim Bulunamadı">
                            <img src="/Foodu v1.7/source/assets/img/shape/24.png" alt="Resim Bulunamadı">
                        </div>
                        <div class="row align-center">
                            <div class="col-lg-6">
                                <h4>Bugün satın al, sadece <strong>$58</strong></h4>
                                <h2>Peynirli Pizza</h2>
                                <p>
                                    Bol malzemeli, çıtır hamurlu pizzamızla tanışın. Enfes lezzeti ve kaliteli malzemeleriyle damaklarınızda iz bırakacak.
                                </p>
                                <div class="button mt-40">
                                    <a class="btn btn-theme btn-md animation" href="shop.html">Şimdi Sipariş Ver</a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="thumb">
                                    <img src="/Foodu v1.7/source/assets/img/illustration/pizza.png" alt="Resim Bulunamadı">
                                    <img src="/Foodu v1.7/source/assets/img/shape/22.png" alt="Resim Bulunamadı">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Item -->
        </div>

        <!-- Navigation -->
        <div class="swiper-nav-left">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</div>
<!-- End Banner -->
<!-- ========== _MainSliderViewComponent Bitişi ========== -->



<!-- ========== _CategoryViewComponent Başlangıcı ========== -->
<!-- Start Food Category Area -->
<div class="food-cat-area default-padding bg-cover" style="background-image: url(/Foodu v1.7/source/assets/img/shape/3.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="site-heading text-center">
                    <h4 class="sub-title">Lezzet Durakları</h4>
                    <h2 class="title split-text">Yemek Kategorilerimiz</h2>
                    <p>Enfes lezzetlerimiz arasından seçiminizi yapın. Her damak tadına uygun seçenekler sizi bekliyor.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="food-cat-item wow fadeInUp">
                    <a href="#" style="background-image: url(https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?auto=compress&cs=tinysrgb&w=600&h=400&fit=crop);">
                        <h4>Kahvaltı</h4>
                        <span>12 Çeşit</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="food-cat-item wow fadeInUp" data-wow-delay="200ms">
                    <a href="#" style="background-image: url(https://images.pexels.com/photos/699953/pexels-photo-699953.jpeg?auto=compress&cs=tinysrgb&w=600&h=400&fit=crop);">
                        <h4>Ana Yemekler</h4>
                        <span>24 Çeşit</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="food-cat-item wow fadeInUp" data-wow-delay="400ms">
                    <a href="#" style="background-image: url(https://images.pexels.com/photos/291528/pexels-photo-291528.jpeg?auto=compress&cs=tinysrgb&w=600&h=400&fit=crop);">
                        <h4>Tatlılar</h4>
                        <span>15 Çeşit</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="food-cat-item wow fadeInUp" data-wow-delay="600ms">
                    <a href="#" style="background-image: url(https://images.pexels.com/photos/338713/pexels-photo-338713.jpeg?auto=compress&cs=tinysrgb&w=600&h=400&fit=crop);">
                        <h4>İçecekler</h4>
                        <span>20 Çeşit</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Food Category Area -->
<!-- ========== _CategoryViewComponent Bitişi ========== -->



<!-- ========== _MenuViewComponent Başlangıcı ========== -->
@await Component.InvokeAsync("_DefaultProducts")
<!-- ========== _MenuViewComponent Bitişi ========== -->



<!-- ========== _AboutViewComponent Başlangıcı ========== -->
<!-- Start About Area -->
<div class="about-style-one-area default-padding">
    <div class="container">
        <div class="row align-center">
            <div class="col-lg-6 about-style-one">
                <div class="thumb-style-one">
                    <img src="https://images.pexels.com/photos/260922/pexels-photo-260922.jpeg?auto=compress&cs=tinysrgb&w=800&h=600&fit=crop" alt="Resim Bulunamadı">
                    <div class="contact-card-one wow fadeInUp">
                        <a href="tel:+123456789">
                            <div class="icon">
                                <i class="fas fa-phone-alt"></i>
                            </div>
                            <div class="info">
                                <span>Hemen Ara</span>
                                <h4>+123 456 7890</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1 about-style-one-info">
                <h4 class="sub-heading">Biz Kimiz</h4>
                <h2 class="title split-text">30 Yıllık Lezzet Tecrübesi</h2>
                <div class="content">
                    <p>
                        1994 yılında küçük bir dükkan olarak başlayan yolculuğumuz, bugün şehrin en gözde restoranlarından biri olmamızı sağladı. En taze malzemeler, özenle hazırlanan tarifler ve güler yüzlü hizmet anlayışımızla misafirlerimizi ağırlamaktan mutluluk duyuyoruz.
                    </p>
                    <p class="mt-30">
                        Her bir tabakta emek ve tutku var. Siz de bu lezzet yolculuğuna ortak olmak için restoranımıza bekleriz.
                    </p>
                    <a href="about-us.html" class="btn btn-theme btn-md animation mt-30">Devamını Oku</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About Area -->
<!-- ========== _AboutViewComponent Bitişi ========== -->



<!-- ========== _ChefViewComponent Başlangıcı ========== -->
<!-- Start Chef Area -->
<div class="chef-style-one-area default-padding bottom-less bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="site-heading text-center">
                    <h4 class="sub-title">Profesyonel Şefler</h4>
                    <h2 class="title split-text">Mutfak Ustalarımızla Tanışın</h2>
                    <p>Lezzetlerin arkasındaki ustalar, size unutulmaz bir deneyim yaşatmak için buradalar.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!-- Single Item -->
            <div class="col-lg-3 col-md-6 chef-one-single mb-30">
                <div class="chef-style-one-item wow fadeInUp">
                    <div class="thumb">
                        <img src="https://images.pexels.com/photos/3814446/pexels-photo-3814446.jpeg?auto=compress&cs=tinysrgb&w=600&h=600&fit=crop" alt="Baş Şef - Ahmet Yılmaz">                        
                        <ul class="chef-one-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <div class="info">
                        <h4><a href="#">Ahmet Yılmaz</a></h4>
                        <span>Baş Şef</span>
                    </div>
                </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="col-lg-3 col-md-6 chef-one-single mb-30">
                <div class="chef-style-one-item wow fadeInUp" data-wow-delay="200ms">
                    <div class="thumb">
                        <img src="https://images.pexels.com/photos/4057767/pexels-photo-4057767.jpeg?auto=compress&cs=tinysrgb&w=600&h=600&fit=crop" alt="Soğuk Mutfak Şefi - Zeynep Şahin">
                        <ul class="chef-one-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <div class="info">
                        <h4><a href="#">Zeynep Şahin</a></h4>
                        <span>Soğuk Mutfak Şefi</span>
                    </div>
                </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="col-lg-3 col-md-6 chef-one-single mb-30">
                <div class="chef-style-one-item wow fadeInUp" data-wow-delay="400ms">
                    <div class="thumb">
                        <img src="https://images.pexels.com/photos/4253312/pexels-photo-4253312.jpeg?auto=compress&cs=tinysrgb&w=600&h=600&fit=crop" alt="Pasta Şefi - Mehmet Kaya">
                        <ul class="chef-one-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <div class="info">
                        <h4><a href="#">Mehmet Kaya</a></h4>
                        <span>Pasta Şefi</span>
                    </div>
                </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="col-lg-3 col-md-6 chef-one-single mb-30">
                <div class="chef-style-one-item wow fadeInUp" data-wow-delay="600ms">
                    <div class="thumb">
                        <img src="https://images.pexels.com/photos/3771120/pexels-photo-3771120.jpeg?auto=compress&cs=tinysrgb&w=600&h=600&fit=crop" alt="Meze Ustası - Nisa Duran">
                        <ul class="chef-one-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <div class="info">
                        <h4><a href="#">Nisa Duran</a></h4>
                        <span>Meze Şefi</span>
                    </div>
                </div>
            </div>
            <!-- End Single Item -->
        </div>
    </div>
</div>
<!-- End Chef Area -->
<!-- ========== _ChefViewComponent Bitişi ========== -->



<!-- ========== _TestimonialViewComponent Başlangıcı ========== -->
<!-- Start Testimonial -->
<div class="testimonial-style-one-area default-padding bg-cover text-center" style="background-image: url(/Foodu v1.7/source/assets/img/shape/4.jpg);">
    <!-- Shape -->
    <div class="wavesshape">
        <img class="regular-img" src="/Foodu v1.7/source/assets/img/shape/16.png" alt="Şekil">
        <img class="dark-img" src="/Foodu v1.7/source/assets/img/shape/16-dark-secondary.png" alt="Şekil">
    </div>
    <!-- Shape -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="site-heading text-center">
                    <h4 class="sub-title">Müşteri Yorumları</h4>
                    <h2 class="title split-text">Misafirlerimiz Ne Diyor?</h2>
                </div>
                <div class="testimonial-style-one-carousel swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Single item -->
                        <div class="swiper-slide">
                            <div class="testimonial-style-one">
                                <div class="item">
                                    <div class="content">
                                        <div class="tm-review">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div class="provider">
                                            <h4>Harika Bir Deneyim</h4>
                                        </div>
                                        <p>
                                            "Yemekler gerçekten mükemmeldi. Özellikle ızgara somon harikaydı. Personel çok ilgiliydi. Kesinlikle tekrar geleceğim."
                                        </p>
                                        <div class="tm-proivder-thumb">
                                            <img src="https://images.pexels.com/photos/1437267/pexels-photo-1437267.jpeg?auto=compress&cs=tinysrgb&w=200&h=200&fit=crop" alt="Resim Bulunamadı">
                                            <img src="https://images.pexels.com/photos/762020/pexels-photo-762020.jpeg?auto=compress&cs=tinysrgb&w=200&h=200&fit=crop" alt="Resim Bulunamadı">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single item -->
                        <!-- Single item -->
                        <div class="swiper-slide">
                            <div class="testimonial-style-one">
                                <div class="item">
                                    <div class="content">
                                        <div class="tm-review">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <div class="provider">
                                            <h4>Lezzet Şöleni</h4>
                                        </div>
                                        <p>
                                            "Restoranın atmosferi ve yemeklerin lezzeti muhteşem. Tatlılar inanılmaz. Herkese tavsiye ederim."
                                        </p>
                                        <div class="tm-proivder-thumb">
                                            <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=200&h=200&fit=crop" alt="Resim Bulunamadı">
                                            <img src="https://images.pexels.com/photos/315755/pexels-photo-315755.jpeg?auto=compress&cs=tinysrgb&w=200&h=200&fit=crop" alt="Resim Bulunamadı">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single item -->
                    </div>
                </div>
                <!-- Navigation -->
                <div class="testimonial-pagination">
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Testimonial Area -->
<!-- ========== _TestimonialViewComponent Bitişi ========== -->



<!-- ========== _BookingViewComponent Başlangıcı ========== -->
<!-- Start Reservation Area -->
<div class="reservation-style-one-area default-padding bg-gray">
    <div class="container">
        <div class="reservation-style-one-items shadow">
            <div class="row">
                <div class="col-lg-6 reservation-thumb">
                    <img src="~/foodu v1.7/source/assets/img/reservation.jpg" alt="Resim Bulunamadı" />
                    <div class="icon">
                        <img src="/Foodu v1.7/source/assets/img/logo.png" alt="İkon">
                    </div>
                </div>
                <div class="col-lg-6 bg-dark reservation-form">
                    <div class="reservation-info">
                        <h4 class="sub-heading text-light">Rezervasyon</h4>
                        <h2 class="title text-light">Hemen Yer Ayırtın</h2>
                        <p class="text-light">
                            Özel günleriniz, iş yemekleriniz veya keyifli bir akşam yemeği için rezervasyon yaptırın.
                        </p>
                        <form action="#" class="mt-40">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Adınız</label>
                                        <input type="text" placeholder="Adınız" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Soyadınız</label>
                                        <input type="text" placeholder="Soyadınız" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>E-posta</label>
                                        <input type="email" placeholder="E-posta adresiniz" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Telefon</label>
                                        <input type="text" placeholder="Telefon numaranız" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Tarih</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control date-picker" placeholder="Tarih seçiniz">
                                            <span class="input-group-addon"><i class="fas fa-calendar-alt"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Saat</label>
                                        <select class="form-control">
                                            <option>09:00 - 10:00</option>
                                            <option>10:00 - 11:00</option>
                                            <option>11:00 - 12:00</option>
                                            <option>12:00 - 13:00</option>
                                            <option>13:00 - 14:00</option>
                                            <option>14:00 - 15:00</option>
                                            <option>15:00 - 16:00</option>
                                            <option>16:00 - 17:00</option>
                                            <option>17:00 - 18:00</option>
                                            <option>18:00 - 19:00</option>
                                            <option>19:00 - 20:00</option>
                                            <option>20:00 - 21:00</option>
                                            <option>21:00 - 22:00</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Kişi Sayısı</label>
                                        <select class="form-control">
                                            <option>1 Kişi</option>
                                            <option>2 Kişi</option>
                                            <option>3 Kişi</option>
                                            <option>4 Kişi</option>
                                            <option>5 Kişi</option>
                                            <option>6 Kişi</option>
                                            <option>7+ Kişi</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Özel İstekler</label>
                                        <textarea class="form-control" placeholder="Vegan menü, alerji vb. özel istekleriniz..."></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <button type="submit" class="btn btn-theme btn-md animation">
                                        Rezervasyon Yap
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Reservation Area -->
<!-- ========== _BookingViewComponent Bitişi ========== -->