
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="banner-area banner-style-four navigation-circle overflow-hidden bg-theme text-light bg-cover" style="background-image: url(/assets/img/shape/1.jpg);">
    <!-- Slider main container -->
    <div class="banner-fade">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">

            <!-- Single Item -->
            <div class="swiper-slide">
                <div class="container">
                    <div class="content">
                        <div class="shape">
                            <img src="/Foodu v1.7/source/assets/img/shape/23.png" alt="Resim Bulunamadı">
                            <img src="/Foodu v1.7/source/assets/img/shape/24.png" alt="Resim Bulunamadı">
                        </div>
                        <div class="row align-center">
                            <div class="col-lg-6">
                                <h4>Bugün satın al, sadece <strong>$65</strong></h4>
                                <h2>Özel Fırsat Peynirli Burger</h2>
                                <p>
                                    En taze malzemelerle hazırlanan özel burgerimiz, eşsiz lezzetiyle sizleri bekliyor. Hemen sipariş verin, fırsatı kaçırmayın.
                                </p>
                                <div class="button mt-40">
                                    <a class="btn btn-theme btn-md animation" href="shop.html">Şimdi Sipariş Ver</a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="thumb">
                                    <img src="/Foodu v1.7/source/assets/img/illustration/3.png" alt="Resim Bulunamadı">
                                    <img src="/Foodu v1.7/source/assets/img/shape/22.png" alt="Resim Bulunamadı">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="swiper-slide">
                <div class="container">
                    <div class="content">
                        <div class="shape">
                            <img src="/Foodu v1.7/source/assets/img/shape/23.png" alt="Resim Bulunamadı">
                            <img src="/Foodu v1.7/source/assets/img/shape/24.png" alt="Resim Bulunamadı">
                        </div>
                        <div class="row align-center">
                            <div class="col-lg-6">
                                <h4>Bugün satın al, sadece <strong>$58</strong></h4>
                                <h2>Peynirli Pizza</h2>
                                <p>
                                    Bol malzemeli, çıtır hamurlu pizzamızla tanışın. Enfes lezzeti ve kaliteli malzemeleriyle damaklarınızda iz bırakacak.
                                </p>
                                <div class="button mt-40">
                                    <a class="btn btn-theme btn-md animation" href="shop.html">Şimdi Sipariş Ver</a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="thumb">
                                    <img src="/Foodu v1.7/source/assets/img/illustration/pizza.png" alt="Resim Bulunamadı">
                                    <img src="/Foodu v1.7/source/assets/img/shape/22.png" alt="Resim Bulunamadı">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Item -->
        </div>

        <!-- Navigation -->
        <div class="swiper-nav-left">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</div>