@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="tr">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Foodu - Yemek & Restoran HTML Şablonu">

    <!-- ========== Page Title ========== -->
    <title>Foodu - Yemek & Restoran</title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="/Foodu v1.7/source/assets/img/favicon.png" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <!-- Bootstrap CSS -->
    <link href="/Foodu v1.7/source/assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome CSS -->
    <link href="/Foodu v1.7/source/assets/css/font-awesome.min.css" rel="stylesheet">
    <!-- Flaticon CSS -->
    <link href="/Foodu v1.7/source/assets/css/flaticon-set.css" rel="stylesheet">
    <!-- Magnific Popup CSS -->
    <link href="/Foodu v1.7/source/assets/css/magnific-popup.css" rel="stylesheet">
    <!-- Swiper CSS -->
    <link href="/Foodu v1.7/source/assets/css/swiper-bundle.min.css" rel="stylesheet">
    <!-- Animate CSS -->
    <link href="/Foodu v1.7/source/assets/css/animate.min.css" rel="stylesheet">
    <!-- Bootstrap Datepicker CSS -->
    <link href="/Foodu v1.7/source/assets/css/bootstrap-datepicker3.css" rel="stylesheet">
    <!-- Validnavs CSS -->
    <link href="/Foodu v1.7/source/assets/css/validnavs.css" rel="stylesheet">
    <!-- Helper CSS -->
    <link href="/Foodu v1.7/source/assets/css/helper.css" rel="stylesheet">
    <!-- Unit Test CSS -->
    <link href="/Foodu v1.7/source/assets/css/unit-test.css" rel="stylesheet">
    <!-- Shop CSS -->
    <link href="/Foodu v1.7/source/assets/css/shop.css" rel="stylesheet">
    <!-- Main Style CSS -->
    <link href="/Foodu v1.7/source/assets/css/style.css" rel="stylesheet">
    <!-- ========== End Stylesheet ========== -->
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

</head>

<body>

    <div class="radio-btn-light">
        <div class="radio-inner-light"></div>
    </div>

    <!-- Start Preloader
    ============================================= -->
    <div id="preloader">
        <div id="restan-preloader" class="restan-preloader">
            <div class="animation-preloader">
                <div class="spinner"></div>
            </div>
            <div class="loader">
                <div class="row">
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Preloader -->


    <!-- Header
    ============================================= -->
    <header>
        <!-- Start Navigation -->
        <nav class="navbar mobile-sidenav navbar-box navbar-default validnavs navbar-sticky">

            <!-- Start Top Search -->
            <div class="top-search">
                <div class="container-xl">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <input type="text" class="form-control" placeholder="Ara">
                        <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                    </div>
                </div>
            </div>
            <!-- End Top Search -->

            <div class="container nav-box d-flex justify-content-between align-items-center">

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img src="/Foodu v1.7/source/assets/img/logo.png" class="logo" alt="Logo">
                    </a>
                </div>
                <!-- End Header Navigation -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <img src="/Foodu v1.7/source/assets/img/logo.png" alt="Logo">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-times"></i>
                    </button>

                    <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle active" data-toggle="dropdown">Ana Sayfa</a>
                            <ul class="dropdown-menu">
                                <li><a href="index.html">Ana Sayfa Versiyon Bir</a></li>
                                <li><a href="index-2.html">Ana Sayfa Versiyon İki</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sayfalar</a>
                            <ul class="dropdown-menu">
                                <li><a href="about-us.html">Hakkımızda</a></li>
                                <li><a href="chef.html">Şeflerimiz</a></li>
                                <li><a href="reservation.html">Rezervasyon</a></li>
                                <li><a href="contact.html">Bize Ulaşın</a></li>
                            </ul>
                        </li>
                        <li><a href="#menu">Menü</a></li>
                        <li><a href="#categories">Kategoriler</a></li>
                        <li><a href="#chefs">Şefler</a></li>
                        <li><a href="#contact">İletişim</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->

                <div class="attr-right">
                    <!-- Start Atribute Navigation -->
                    <div class="attr-nav attr-box">
                        <ul>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="far fa-shopping-cart"></i>
                                    <span class="badge">3</span>
                                </a>
                                <ul class="dropdown-menu cart-list">
                                    <li>
                                        <div class="thumb">
                                            <a href="#" class="photo">
                                                <img src="/Foodu v1.7/source/assets/img/shop/1.png" alt="Thumb">
                                            </a>
                                            <a href="#" class="remove-product">
                                                <i class="fas fa-times"></i>
                                            </a>
                                        </div>
                                        <div class="info">
                                            <h6><a href="#">Lezzetli Burger</a></h6>
                                            <p>2x - <span class="price">$99.99</span></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="thumb">
                                            <a href="#" class="photo">
                                                <img src="/Foodu v1.7/source/assets/img/shop/2.png" alt="Thumb">
                                            </a>
                                            <a href="#" class="remove-product">
                                                <i class="fas fa-times"></i>
                                            </a>
                                        </div>
                                        <div class="info">
                                            <h6><a href="#">Özel Pizza</a></h6>
                                            <p>1x - <span class="price">$33.33</span></p>
                                        </div>
                                    </li>
                                    <li class="total">
                                        <span class="pull-right"><strong>Toplam</strong>: $0.00</span>
                                        <a href="#" class="btn btn-default btn-cart">Sepet</a>
                                        <a href="#" class="btn btn-default btn-cart">Ödeme</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="side-menu">
                                <a href="#">
                                    <span class="bar-1"></span>
                                    <span class="bar-2"></span>
                                    <span class="bar-3"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Atribute Navigation -->
                </div>

                <!-- Start Side Menu -->
                <div class="side">
                    <a href="#" class="close-side"><i class="fas fa-times"></i></a>
                    <div class="widget">
                        <div class="logo">
                            <img src="/Foodu v1.7/source/assets/img/logo-light-2.png" alt="Logo">
                        </div>
                        <p>
                            Lezzetli yemekler, özel tarifler ve ilham verici mutfak fikirleriyle dolu dünyamıza hoş geldiniz. En taze malzemelerle hazırlanan enfes tatlar sizi bekliyor.
                        </p>
                    </div>
                    <div class="widget address">
                        <div>
                            <ul>
                                <li>
                                    <div class="content">
                                        <p>Adres</p>
                                        <strong>California, TX 70240</strong>
                                    </div>
                                </li>
                                <li>
                                    <div class="content">
                                        <p>E-posta</p>
                                        <strong>support@validtheme.com</strong>
                                    </div>
                                </li>
                                <li>
                                    <div class="content">
                                        <p>İletişim</p>
                                        <strong>+44-20-7328-4499</strong>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget newsletter">
                        <h4 class="title">Abone Ol!</h4>
                        <form action="#">
                            <div class="input-group stylish-input-group">
                                <input type="email" placeholder="E-posta adresiniz" class="form-control" name="email">
                                <span class="input-group-addon">
                                    <button type="submit">
                                        <i class="fas fa-arrow-right"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="widget social">
                        <ul class="link">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- End Side Menu -->
            </div>
            <!-- Overlay screen for menu -->
            <div class="overlay-screen"></div>
            <!-- End Overlay screen for menu -->
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Header -->


 @RenderBody()


    <!-- Start Footer
    ============================================= -->
    <footer class="bg-dark footer-style-one text-light">
        <div class="container">
            <div class="row">
                <!-- Singel Item -->
                <div class="col-lg-3 col-md-6 footer-item mt-50">
                    <div class="f-item about">
                        <img src="/Foodu v1.7/source/assets/img/logo-3.png" alt="Resim Bulunamadı">
                        <p>
                            Lezzetli tarifler ve ilham verici mutfak fikirleriyle dolu dünyamızı keşfedin.
                        </p>
                        <ul class="opening-list">
                            <li>
                                Pzt - Cum <span class="text-end">08:00 - 18:00</span>
                            </li>
                            <li>
                                Cumartesi <span class="text-end">09:00 - 17:00</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End Singel Item -->
                <!-- Singel Item -->
                <div class="col-lg-2 col-md-6 mt-50 footer-item pl-50 pl-md-15 pl-xs-15">
                    <div class="f-item link">
                        <h4 class="widget-title">Keşfet</h4>
                        <ul>
                            <li><a href="about-us.html">Hakkımızda</a></li>
                            <li><a href="chef.html">Şeflerimiz</a></li>
                            <li><a href="menu.html">Menü</a></li>
                            <li><a href="contact-us.html">İletişim</a></li>
                        </ul>
                    </div>
                </div>
                <!-- End Singel Item -->
                <!-- Singel Item -->
                <div class="col-lg-3 col-md-6 footer-item mt-50">
                    <div class="f-item contact">
                        <h4 class="widget-title">İletişim Bilgileri</h4>
                        <ul class="contact-widget">
                            <li>
                                <div class="icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="content">
                                    175 10h Street, Ofis 375 Berlin, De 21562
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-phone"></i>
                                </div>
                                <div class="content">
                                    <a href="tel:2151234567">+123 34598768</a><br>
                                    <a href="tel:2151234567">+554 34598734</a>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="content">
                                    <a href="mailto:info@foodu.com">info@foodu.com</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End Singel Item -->
                <!-- Singel Item -->
                <div class="col-lg-4 col-md-6 footer-item mt-50">
                    <div class="f-item newsletter">
                        <h4 class="widget-title">Bülten</h4>
                        <p>
                            En son haberler ve özel teklifler için bültenimize abone olun.
                        </p>
                        <form action="#">
                            <input type="email" placeholder="E-posta Adresiniz" class="form-control" name="email">
                            <button type="submit">Abone Ol <i class="fas fa-long-arrow-right"></i></button>
                        </form>
                        <div class="footer-socila-items mt-30">
                            <h4>Sosyal Medya: </h4>
                            <ul class="footer-social">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Singel Item -->
            </div>

            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="row align-center">
                    <div class="col-lg-6">
                        <p>© Telif Hakkı 2025 Foodu. Tüm Hakları Saklıdır</p>
                    </div>
                </div>
            </div>
            <!-- End Footer Bottom -->
        </div>
    </footer>
    <!-- End Footer -->



    <!-- jQuery Frameworks
    ============================================= -->
    <script src="/Foodu v1.7/source/assets/js/jquery-3.6.0.min.js"></script>
    <script src="/Foodu v1.7/source/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/Foodu v1.7/source/assets/js/jquery.appear.js"></script>
    <script src="/Foodu v1.7/source/assets/js/swiper-bundle.min.js"></script>
    <script src="/Foodu v1.7/source/assets/js/progress-bar.min.js"></script>
    <script src="/Foodu v1.7/source/assets/js/wow.min.js"></script>
    <script src="/Foodu v1.7/source/assets/js/isotope.pkgd.min.js"></script>
    <script src="/Foodu v1.7/source/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="/Foodu v1.7/source/assets/js/magnific-popup.min.js"></script>
    <script src="/Foodu v1.7/source/assets/js/count-to.js"></script>
    <script src="/Foodu v1.7/source/assets/js/jquery.nice-select.min.js"></script>
    <script src="/Foodu v1.7/source/assets/js/YTPlayer.min.js"></script>
    <script src="/Foodu v1.7/source/assets/js/loopcounter.js"></script>
    <script src="/Foodu v1.7/source/assets/js/validnavs.js"></script>
    <script src="/Foodu v1.7/source/assets/js/bootstrap-datepicker.js"></script>
    <script src="/Foodu v1.7/source/assets/js/gsap.js"></script>
    <script src="/Foodu v1.7/source/assets/js/ScrollTrigger.min.js"></script>
    <script src="/Foodu v1.7/source/assets/js/SplitText.min.js"></script>
    <script src="/Foodu v1.7/source/assets/js/main.js"></script>

</body>
</html>